<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/screen.css' />
  </head>
  <body>
    <div class="content">
    	<div class="calculator">
				<div class="tabs">
					<ul class="tab-links">
					  <li class="active"><a href="#simple-version">Simple Version</a></li>
					  <li><a href="#advanced-version">Advanced Version</a></li>
					</ul>
				</div>
				<div class="tab-content">
					<div id="simple-version" class="tab active">
						<form class="calc-form" onsubmit="calculatorInsuline()">
							<input type="text" class="carbohydrate-only" placeholder="Carbohydrates in grams...">
							<input type="button" value="calculate" class="submit">
						</form>
					</div>
					<div id="advanced-version" class="tab">
						<form class="calc-form" onsubmit="calculatorInsuline()">
							<input type="text" class="product-weight" placeholder="Product Weight...">
							<input type="text" class="relative-weight" placeholder="Relative weight...">
							<input type="text" class="carbohydrate" placeholder="Carbohydrates in grams...">
							<input type="button" value="calculate" class="submit-advanced">
						</form>
					</div>
				</div>
				<div class="answers"><span>0</span> Insuline Units</div>
			</div>
		</div>
		<script type="text/javascript" src="/javascripts/main.js"></script>
  </body>
</html>
